<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/main.css">

    <title>Strona Główna | Sklep</title>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Sklep</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Dodaj Produkt</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Moje produkty</h1>
        <p>Lista produktów...</p>
    </main>
</body>

</html>